/* CSS Document */

body{text-align: center;}
div{
border:1px #000000 solid;
text-align:center;
vertical-align:top;
margin:20px 10px;
display:inline-block;
font-size:9px;

}

.NO1{height: 300px;}
.NO2_1,.NO2_2{height: 240px;}
.NO2_3{height: 240px;}

.NO3_1{height:180px}
.NO3_2{height:180px}
.NO3_3{height:180px}
.NO3_4{height:180px}
.NO3_5{height:180px}

.NO4_1,.NO4_2,.NO4_3,.NO4_4,.NO4_5,.NO4_6,.NO4_7,.NO4_8,.NO4_9{height:150px}
.NO4_10{height:150px}

.NO5{height:100px}
#button{
border:none;
position:relative;
}

.txt{
  position:absolute;
  width:400px;
  top:30px;
  left:-50px;
  border:none;
}
input[name=find]{
   margin-top:15px
}
#insert{margin-left:10px;}