@import "base";

.container{
  .container-box;
  .flex-center;

  button {
    width: 10rem;
    height: 3rem;
    background-color: #EF7419;
    color:white;
    border:none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    span{
      margin-right: 1rem;
    }
  }
}