.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-box {
  position: absolute;
  top: 40%;
  width: 66rem;
  height: 22rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
}

.l-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}