@import "base";

.container{
  .l-flex-1;
  position: relative;
  height:auto;
  .main {
    //.flex-center;
    //flex-flow: column;
    position: absolute;
    width: 66rem;
    left: 50%;
    overflow: auto;
    top: 10%;
    transform: translate(-50%, 0);
    bottom: 3rem;

    .box {
      .flex-center;
      flex-flow: column;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
    }
  }
  .list {
    border-bottom: 1px solid #ccc;
    width: 62rem;
  }

  .title, .content, .footer {
    width: 62rem;
    height: 6rem;
    .flex-center;
  }

  .title {
    border-bottom: 2px solid #ccc;
    input{
      width: 100%;
      height: 3rem;
      border: none;
      text-align: center;
      color: #A5A5A5;
      font-weight: bold;
      font-size: 1.2rem;
    }
    input:hover {
      background-color: #FEF1E8;
    }
  }
  .content {
    border-bottom: 2px solid #ccc;
    //height: 9rem;
    flex-flow: column;

    .select_ul {
      list-style: none;

      li {
        float: left;
        display: inline-block;
        height: 2rem;
        line-height: 2rem;
        width: 6rem;
        border: 1px solid #CBCBCB;
        margin-left: 3rem;
        text-align: center;
      }
    }
    button {
      width: 90%;
      height: 78%;
      background-color: #eee;
      border: none;
      outline: none;

      .add {
        display: inline-block;
        font-size: 1rem;
        color: #595959;
        position: relative;
      }
      .add:before {
        content: "";
        position: absolute;
        left: -21px;
        top: 10px;
        overflow: hidden;
        width: 17px;
        height: 3px;
        background: #8D8D8D
      }

      .add:after {
        content: "";
        position: absolute;
        left: -14px;
        top: 3px;
        overflow: hidden;
        height: 17px;
        width: 3px;
        background: #8D8D8D
      }
    }
  }
  .footer {
    justify-content: space-between;
    .left {
      padding-left: 3.5rem;
      .date {
        margin-left:1.1rem;
        padding-left: 1.2rem;
        padding-right: 4rem;
        display:inline-block;
        border:1px solid #ccc;
        height:2.4rem;
        line-height: 2.4rem;
        text-align: center;
      }
    }
    .right {
      padding-right: 5rem;
      button {
        margin-right: 1.3rem;
        width: 5rem;
        height: 1.6rem;
      }
    }
  }

  .full {
    .l-full;

    .pop {
      background-color: rgba(0,0,0,0.6);
      .l-full;
    }
    .dialog {
      background-color: #fff;
      position: relative;
      border-radius: .08rem;
      box-sizing: border-box;
      width: 45rem;
      left: 10rem;
      top: 1.24rem;
      display: flex;
      flex-flow:column;

      .topic {
        text-align: center;
        height: 2.5rem;
        line-height: 2.5rem;
      }
      .question{
        margin-left: 1.1rem;
        textarea {
          width: 42.2rem;
        }
      }
      .answer {
        margin-left: 1.1rem;
        textarea {
          width: 42.2rem;
        }
      }
      .btn {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        height: 2.4rem;
        button {
          border-left: none;
          outline: none;
        }
        .cancel {
          flex: 1;
        }
        .confirm {
          flex:1;
          border-right: none;

        }
      }
    }

  }
}